<ion-header>
  <ion-toolbar>
    <ion-title>Your Remali Wallet</ion-title>
    <ion-icon name="card" slot="end"  size="large"  color= "success" class="creditcard"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card color="success"> 
      <ion-card-header>
        <ion-chip size="large">
          <ion-icon name="person"></ion-icon>
          <ion-label> John Doe</ion-label>
        </ion-chip>
        <ion-card-subtitle class="center"><i>Current Remali Balance</i></ion-card-subtitle>
        <ion-card-title class="center">260 Remali</ion-card-title>
      </ion-card-header>
        <div class="push">
        <ion-card-subtitle><i>Transactions<br></i></ion-card-subtitle>
         <ion-card-title>Earnings</ion-card-title>
          <ion-card-content>
            <p>
                + 100 Remali -- Memory Game --10.8.19 <br>
                + 20 Remali -- Memory Game -- 5.8.19 <br>
                + 50 Remali -- Game -- 23.7.19
            </p>
          </ion-card-content>
        <ion-card-title>Purchases</ion-card-title>
        <ion-card-content>
            <p>
                - 100 Remali -- Redeemed for Gas Coupon -- 9.8.19 <br>
                - 20 Remali -- Redeemed for Haircut -- 24.7.19 <br>
                - 50 Remali -- Spent on Amazon Credit -- 20.7.19
            </p>
          </ion-card-content>
        </div>
        
        <ion-card-content>
          <i> All Remali redemptions are final and may not be re-converted. Be sure to view offering details before redeeming your Remali. </i>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
        <ion-card-title> Looking to Redeem Remali?</ion-card-title>
        <ion-card-subtitle> <i>See what's availale right now </i></ion-card-subtitle>

        </ion-card-header>
        
      </ion-card>
  </div>




</ion-content>
