<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome {{user.NAME}} !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="getUsers()">
    Get Users
  </ion-button> -->
    <h1>REGENIZE</h1>        
    <!-- <img src="https://placeimg.com/400/400/animals"> -->
    <section>
        <div class="box">
            <div class="textbox">
                2<br>
            </div> 
            <div class="text">
                <p>
                    TOTAL RECYCLED <br>
                    (KG)
                </p>
            </div>
        </div>
        <div class="box">
            <div class="textbox">
                1.5
            </div> 
            <div class="text">
                <p>
                    TOTAL CARBON <br>
                    EMISSIONS <br>
                    SAVED <br>
                    (KG)
                </p>
            </div>
        </div>  
        <div class="box">
            <div class="textbox">
                1500
            </div> 
            <div class="text">
                <p>
                    TOTAL REMALI<br>
                    AVAILABLE
                </p>
            </div>
            </div>  
        <div class="clearfix"></div>
    </section>
    <section>
        <div class="text2">
            Jade, your next collection is <br>
            on the 09/07/2019 <br>
            between <br>
            8:00-8:30
        </div> 
    </section>
    <section>
        <h2 style="text-align: center">
            <b>Latest Stories and Challenges</b>
        </h2>
    </section>
    <section class = "news">
        <img src="ShanghaiNewsIcon.jpg" alt="Icon" class ="icon">
    </section>
</ion-content>
