<ion-header>
  <ion-toolbar class="success">
    <ion-title>Learn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" " padding>

  <ion-card>
    <img src="img/85211498.jpg">
    <div class=" ">Image</div>
    <div>
      <ion-button position="floating" (click)="why()">Why recycle?</ion-button>
    </div>
  </ion-card>
  <ion-card>
    <img src="img/terry. jpg">
    <div class=" ">How</div>
    <div>
     <ion-button position="floating" (click)="how()">How do you recycle?</ion-button>
    </div>
  </ion-card>
  <ion-card>
    <img src="img/TI5sYD6">
    <div class=" ">Image</div>
    <div>
     <ion-button position="floating" (click)="what()">What can you recycle?</ion-button>
    </div>
  </ion-card>
  
            
  

</ion-content>
