.border {
    margin: auto;
    border: 20px

}

.avatar img {
    margin: auto;
}

.headers {
    margin: auto;
    text-align: center;
}

.icons {
    color: green
}

.centerbutton {
    margin: auto;
    border: 20px;
    background-color: green;
}

.smalltext {
    font-size: 10px
}
   