.border {
    margin: auto;
    border: 20px

}



.headers {
    margin: auto;
    text-align: center;
}

.icons {
   // color: 
}

.button {
    margin: 20px;
    //border: 20px;
    background-color: transparent;
}

.smalltext {
    font-size: 10px
}
   
